@model IEnumerable<JobPortal2.Models.JobPost>

@{
    ViewBag.Title = "JobView";
}

<style>
    .backing {
        background-image: url("~/Content/plugins/jobportal/images/bg_2.jpg");
        background-size: cover;
    }
</style>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Education)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vacancy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobNature)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.JobTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Education)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Experience)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Specialization)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vacancy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobNature)
                </td>

            </tr>
        }

    </table>*@
 @*style="background-image: url('@Url.Content("~/Content/plugins/jobportal/images/bg_2.jpg")');"*@
@*<div class="hero-wrap js-fullheight" data-stellar-background-ratio="">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start" data-scrollax-parent="true">
            <div class="col-md-8 ftco-animate " >
                <h1 class="mb-3 bread text-black text-md-left">Hirring</h1>
            </div>
        </div>
    </div>
</div>*@

<section class="ftco-section bg-light">
    <div class="container">

        @foreach (var item in Model)
        {
            <div class="row me-3">
                <div class="col-md-12 ftco-animate">
                    <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

                        <div class="mb-4 mb-md-0 mr-5">
                            <div class="job-post-item-header d-flex align-items-center">
                                <h2 class="mr-3 text-black h3">@Html.DisplayFor(modelItem => item.JobTitle)</h2>
                                <div class="badge-wrap">
                                    <span class="bg-primary text-white badge py-2 px-3 ms-2">@Html.DisplayFor(modelItem => item.Specialization)</span>
                                </div>
                            </div>
                            <div class="job-post-item-body d-block d-md-flex">
                                <div class="me-3"><span class="icon-layers"></span> <a href="#"> @Html.DisplayFor(modelItem => item.CompanyName) </a></div>
                                <div><span class="icon-my_location"></span> <span>@Html.DisplayFor(modelItem => item.Address)</span></div>
                            </div>
                        </div>

                        <div class="ms-auto d-flex">
                            @*<a href="@Url.Action("ViewJob", "Home", new { id = item.JobId }))" class="btn btn-primary py-2 mr-1 bg-primary">Apply Job</a>*@
                            @*@Html.ActionLink("Apply Job", "ViewJob", new { id = item.JobId, @class = "bg-primary" })*@
                            <a href="@Url.Action("ViewJob", "Home", new { id = item.JobId})" class="btn btn-main btn-next-tab bg-danger text-white">View Job!</a>
                        </div>
                    </div>
                    <div class="me-2 bg-light" style="height:15px"></div>
                </div><!-- end -->
                
            </div>
        }
    </div>
</section>
